div.pcms {
	font-family: "Courier New", Courier, monospace;
}

div.pcms a:hover { text-decoration: none; }
div.pcms div div div a:hover { cursor: auto; }

div.pcms div.show { display: block; }
div.pcms div.hide { display: none; }

div.pcms a { font-size: 400%; }
div.pcms div a { font-size: 300%;}
div.pcms div div a { font-size: 200%; }
div.pcms div div div a { font-size: 100%; }

div.pcms a {
	display: block;
	cursor: pointer;
	margin-top: .25em;
	margin-bottom: .25em;
}

div.pcms div {
	margin-left: 1em;
}

div.pcms {
	margin-bottom: 1em;
	margin-right: 1em;
}
